<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <h1> this is the roote route</h1>
    <div>
        <a href="/home">home</a>
    </div>
    <hr>
    <h3> Title 1</h3>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem unde in enim porro quisquam ea corrupti obcaecati vitae! Dolores minus vel inventore. Aut reiciendis consectetur libero, molestias perferendis nobis cumque. </p>
</body>
</html>